/* general style & colors */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-transform: capitalize !important;
  scroll-behavior: smooth;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.cursor-pointer{
  cursor: pointer;
}
:root{
  --dark-blue : #003566 ;
  --light-blue : #0077E4 ;
  --light-blueBtns : #319DFF ;
  --main-orange : #FF6000 ;
  --light-grey-txt : #7D8FA9;
  --grey-color : #586A84 ;
  --dark-grey-color : #1D232C ;
  --grey-bgColor : #EEF0F4 ;
  --White-color : #FFFFFF ;
  --light-bgGreen : #CF0 ;
  --light-txtGreen : #8CE744 ;
  --dark-green : #0DA678 ;
  --pink-color : #FF316A ;
  --red-color : #FF3333 ;
  --red-colorIcons : #FF0000 ;
}
.brdr{ 
  border-radius: 25px; 
  border: 1px solid var(--grey-bgColor, #EEF0F4); 
  background: var(--White-color , #FFF);
   -webkit-border-radius: 25px;
    -moz-border-radius: 25px; 
    -ms-border-radius: 25px; 
    -o-border-radius: 25px;
}
.brdr-blue{
  border: 1px solid var(--dark-blue);
}
.dark-blue-text{
  color: var(--dark-blue);
}
.light-blue-text{
  color: var(--light-blue);
}
.light-blueBtns-text{
  color: var(--light-blueBtns);
}
.main-orange-text{
  color: var(--main-orange);
}
.main-grey-text{
  color: var(--grey-color);
}
.dark-grey-text{
  color: var(--dark-grey-color);
}
.light-grey-text{
  color: var(--light-grey-txt);
}
.light-green-text{
  color: var(--light-txtGreen);
}
.dark-green-text{
  color: var(--dark-green);
}
.pink-text{
  color: var(--pink-color);
}
.dark-red-text{
  color: var(--red-colorIcons);
}
.light-red-text{
  color: var(--red-color);
}
.white-text{
  color: var(--White-color);
}
.dark-blue-bg{
  background-color: var(--dark-blue);
}
.light-blue-bg{
  background-color: var(--light-blue);
}
.light-blueBtns-bg{
  background: var(--light-blueBtns);
}
.main-orange-bg{
  background-color: var(--main-orange);
}
.btn-orange{
  background-color: var(--main-orange);
  color: var(--White-color);
  transition: all .15s ease-in;
  -webkit-transition: all .15s ease-in;
  -moz-transition: all .15s ease-in;
  -ms-transition: all .15s ease-in;
  -o-transition: all .15s ease-in;
}
.btn-orange:hover , 
.btn-orange:disabled , 
.btn-orange:focus-visible , 
.btn-orange:active  {
  background-color: #ff6200 !important;
  color: var(--White-color) !important;
}
.btm-primary{
  background: var(--light-blueBtns) !;
}
.main-grey-bg{
  background-color: var(--grey-color);
}
.dark-grey-bg{
  background-color: var(--dark-grey-color);
}
.light-grey-bg{
  background-color: var(--grey-bgColor);
}
.light-green-bg{
  background-color: var(--light-txtGreen);
}
.dark-green-bg{
  background-color: var(--dark-green);
}
.pink-bg{
  background-color: var(--pink-color);
}
.dark-red-bg{
  background-color: var(--red-colorIcons);
}
.light-red-bg{
  background-color: var(--red-color);
}
.white-bg{
  background-color: var(--White-color);
}
.rotate{
  rotate: 40deg;
}
.small-icon{
  font-size: 14px;
}
.font-quest{
  font-family: 'Questrial', sans-serif !important;
}
.font-Rowdies{
  font-family: 'Rowdies', sans-serif !important;
}
.font-roboto{
  font-family: 'Roboto', sans-serif;
}
.font-Poppins{
  font-family: 'Poppins', sans-serif;
}
label{
  color: var(--Gray-Scale-Gray-900, #1A1A1A);
}
/* *NOTE -  Header style */
.topHeader::after{
content: "";
position: absolute;
left: 0px;
right: 0px;
bottom: 0;
height: 2px;
background-color: var(--grey-bgColor);
border: none;
}
.nav-search.p-inputtext:enabled:focus{
  box-shadow: none;
}
.nav-search::after{
  content: "";
  width: 2px;
  height: 10px;
  position: absolute;
  left: 100%;
  top: 50%;
  background-color: var(--grey-bgColor);
  border: none;
  z-index: 3 !important;
}
ul.p-dropdown-items{
padding-left: 0 !important;

}
.nav-dropDown{
  border: none;
  border-right: 1px solid var(--main-orange) ;
}
.nav-link.active{
  background-color: var(--main-orange);
}
.headerSearchInput .p-dropdown-items li,
.headerSearchInput .p-dropdown-label{
  color: var(--main-orange) !important;
}
.navbar-toggler-icon{
  color: var(--White-color);
  background-image: none !important;
  font-size: 20px;
}
.navbar-toggler,
.navbar-toggler:focus:not(:focus-visible){
  border: none !important;
  box-shadow: none !important;

}
.loader-container{
  background-color: rgba(0, 0, 0, 0.314);
  z-index: 9999!;
  position: sticky;
  width: 100%;
  height: 100vh;
  inset: 0;
}
/* *NOTE - bidding slider */
.biddingSlider{
  background: linear-gradient(91deg, rgba(0, 53, 102, 0.09) 9.23%, rgba(255, 96, 0, 0.09) 95.06%);
}
/* *NOTE - Authorization */
.selectAuth{
  padding-inline: 20px;
  border-bottom: 2px solid var(--dark-blue);
  overflow: hidden;
  position: relative;
}

.selectAuth::after{
  content: '';
  position: absolute;
  top: 2px;
  right: 50%;
  width: 4px;
  height: 30px;
  background-color: #1D232C;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.activeAuth{
  position: relative;
}

.activeAuth::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 5px;
  width: 100%;
  background-color: var(--main-orange);
  transform: translateY(50%);
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
  border-radius: 5px ;
  -webkit-border-radius: 5px ;
  -moz-border-radius: 5px ;
  -ms-border-radius: 5px ;
  -o-border-radius: 5px ;
}
.AuthForm-inputs{
  border:1px solid var(--dark-blue) !important;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

/* *NOTE - Home Style */
/* *SECTION - main slider */
.slick-slider :focus-visible {
  outline: none ;
}
.mainSlider .slick-slider img {
  width: 100%; 
  max-height: 400px;
  object-fit: contain;
}
.mainSlider .firstSlide{
  background: var(--pale_gradient_green, linear-gradient(182deg, #F2FFF7 0%, #C3F4FF 100%));
}
.mainSlider .secSlide {
  background: var(--pale_gradient_peach, linear-gradient(182deg, #FFFCF3 0%, #FFDFDF 100%));
}
 .mainSlider .thirdSlide{
  background: var(--pale_gradient_purple, linear-gradient(182deg, #FFF4FD 0%, #CBCDFF 100%));
}
.mainSlider .slick-dots{
  bottom: 20px;
}
.mainSlider .slick-dots li button::before{
 color: var(--main-orange) !important; 
 width: 50px !important;
 height: 50px !important;
}
/* *SECTION - Bidding slider */
.biddingSlider{
  background: linear-gradient(91deg, rgba(0, 53, 102, 0.09) 9.23%, rgba(255, 96, 0, 0.09) 95.06%);
}
/* *SECTION - Categories style */
.allCategoriesContainer{
  width: 90%;
  margin-inline: auto;
}
.category-container{
  border: 1px solid var(--Grey-100, #EEF0F4);
  border-radius: 25px;
}
.header{
/* background: #f645; */
width: max-content;
position: relative;
color: var(--main-orange);
font-family: 'Roboto', sans-serif;
padding-block: 6px;
margin-bottom: 10px;
}
.header::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--dark-blue);
}
.go-Btn{
  background: var(--Grey-200, #DDE1E8);
  border: none;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  font-size: 20px;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.go-Btn:hover , .go-Btn:active{
  background-color: var(--light-blue);
}
/* *SECTION - static products */
.staticProductRight{
border-radius: 25px;
background: linear-gradient(245deg, #003566 28.74%, #FF6000 66.04%);
}
.staticProductLeft{
  border-radius: 25px;
background: linear-gradient(64deg, #003566 19.51%, #FF6000 65.05%);
}
.staticProductImg img{
  height: 150px;
  width: 15vw;
  image-rendering: optimizeQuality;
  object-fit: contain;
}



.BestSlider-container .slick-slide{
  padding-inline: 16px;
}
.BestSlider-container .slick-arrow {
  background-color:var(--grey-bgColor);
  border-radius: 50%;
  color: var(--grey-color);
  position: absolute;
  top: -30px;
  right: 50px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.BestSlider-container .slick-prev {
  right: 75px !important;
  left: auto !important;
}
.BestSlider-container .slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: flex; 
  justify-content: center;
  align-items: flex-end;
  height: 100%;
}
.slick-track:before{
  display: none;
}
.BestSlider-container .slide-item{
height: 100% !important;
}
.cardCategory{
  color: var(--grey-color);
  font-size: 13px;
  font-family: 'Roboto', sans-serif;

}
.cardProductName{
  margin-right: auto;
  color: var(--light-blue);
  font-family: 'Roboto', sans-serif;
}

.toggleBtns {
  position: absolute;
  bottom: 0;
  z-index: 1;
  transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  opacity: 0;
}
.slide-container:hover .toggleBtns {
  opacity: 1;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.before-price{
  text-decoration: line-through;
}

/* *NOTE - Footer style */
.footer{
background: linear-gradient(92deg, rgba(3, 54, 101, 0.13) 6.65%, rgba(246, 95, 4, 0.01) 98.64%);
}