@media screen and (max-width: 992px) {
    html,body {
        font-size: 85%;
    }
    @media screen and (max-width:780px) {
      html,body {
          font-size: 90%;
      }
      .search-result-item{
        flex-direction: column;
      }
      .allProductsSorting{
        flex-direction: column;
      }
      .allProductsSorting > div{
        width: 100% !important;
      }
    }
    @media screen and (max-width:500px) {
      html,body {
          font-size: 70%;
      }
      .nav-search{
        width: 20%;
      }
      .categoriesDropDown{
        width: 30%;
      }
      .biddingStatusTxt{
        display: none;
      }
      .toggleBtns{
        margin-bottom: 18px !important;
      }
      .blogs{
        flex-direction: column;
        justify-content: center;
      }
      .blogInfo {
        margin-top: 8px;
      }
      .allProductsHeader{
        flex-direction: column;
      }
      .priceRangeSlider .p-inputtext{
        width: 50%;
        font-size: 9px;
        padding-block:4px ;
        margin-bottom: 4px;
      }
    }
  }
  